---
import Traje from "../components/traje.astro";
import Vesitdo from "../components/vesitdo.astro";
import Layout from "../layouts/Layout.astro";
import { actions } from "astro:actions";

---

<Layout>
  <main transition:persist>
    <section
      class="w-full h-dvh min:h-dvh md:min-h-screen flex flex-col justify-around items-center gap-20 md:gap-80 relative px-10"
    >
    <div class="w-full h-full absolute -z-10 inset-0">
      <picture>
        <source srcset="Imagen-fondo.webp" type="image/webp" media="(min-width: 769px)">
        <source srcset="Imagen-fondo-mobile.webp" type="image/webp" media="(max-width: 768px)">
        <img src="Imagen-fondo.webp" alt="imagen belu & rodri2" class="object-cover h-full w-full md:object-center">
      </picture>
    </div>
     
      <h1
        class="text-[#ffcb6a] text-center font-bold font-dancing text-6xl italic"
      >
        Belu & Rodri
      </h1>
      <div
        class="flex flex-col items-center justify-center gap-2 text-[#464861] font-noto text-xl px-10 py-4 rounded-lg font-bold backdrop-blur-sm bg-[#c4e9ff]/30"
      >
        <p class="text-2xl">Nos casamos en</p>
        <div class="flex gap-4 items-center justify-evenly">
          <div class="flex flex-col w-10 h-10 items-center">
            <span class="text-2xl" id="dias">00</span><span class="text-xs"
              >dias</span
            >
          </div> :
          <div class="flex flex-col w-10 h-10 items-center">
            <span class="text-2xl" id="horas">00</span><span class="text-xs"
              >horas</span
            >
          </div> :
          <div class="flex flex-col w-10 h-10 items-center">
            <span class="text-2xl" id="minutos">00</span><span class="text-xs"
              >minutos</span
            >
          </div> :
          <div class="flex flex-col w-10 h-10 items-center">
            <span class="text-2xl" id="segundos">00</span><span class="text-xs"
              >segundos</span
            >
          </div>
        </div>
        <a
          class="uppercase bg-white text-[#ffcb6a] px-6 py-3 rounded-xl font-bold font-noto mt-6"
          href="#info">Más Info</a
        >
      </div>
    </section>
    <section
      id="info"
      class="min-h-screen flex flex-col py-10 items-center font-noto px-10"
    >
      <div
        class="text-white bg-black flex justify-center items-center p-6 rounded-full"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100"
          height="100"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-party-popper"
          ><path d="M5.8 11.3 2 22l10.7-3.79"></path><path d="M4 3h.01"
          ></path><path d="M22 8h.01"></path><path d="M15 2h.01"></path><path
            d="M22 20h.01"></path><path
            d="m22 2-2.24.75a2.9 2.9 0 0 0-1.96 3.12c.1.86-.57 1.63-1.45 1.63h-.38c-.86 0-1.6.6-1.76 1.44L14 10"
          ></path><path
            d="m22 13-.82-.33c-.86-.34-1.82.2-1.98 1.11c-.11.7-.72 1.22-1.43 1.22H17"
          ></path><path
            d="m11 2 .33.82c.34.86-.2 1.82-1.11 1.98C9.52 4.9 9 5.52 9 6.23V7"
          ></path><path
            d="M11 13c1.93 1.93 2.83 4.17 2 5-.83.83-3.07-.07-5-2-1.93-1.93-2.83-4.17-2-5 .83-.83 3.07.07 5 2Z"
          ></path></svg
        >
      </div>
      <p class="text-4xl my-10">La Fiesta</p>
      <img
        class="aspect-[800x533] w-[500px] rounded-lg"
        src="janos.jpg"
        alt="janos olivos"
        loading="lazy"
      />
      <div class="mt-10 flex flex-col gap-6 max-w-[350px] text-center">
        <p><span class="font-black">Fecha</span>: Domingo 2 de Marzo</p>
        <p><span class="font-black">Hora</span>: 19:00 hs</p>
        <p>
          <span class="font-black">Salón</span>: Janos Olivos I, Mariano Pelliza
          310, Olivos, Provincia de Buenos Aires.
        </p>
        <div class="flex flex-col gap-2 items-center">
          <p class="text-center mt-10 text-xl">DRESS CODE</p>
          <p class="text-center">Elegante</p>
          <div class="flex">
            <Traje/>
            <Vesitdo/>
          </div>
        </div>
        <a
          class="self-center text-white bg-black flex px-8 py-4 gap-2 rounded-xl"
          href="https://maps.app.goo.gl/nqccH8DfVfz2MFYe8"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-map-pin"
            ><path
              d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
            ></path><circle cx="12" cy="10" r="3"></circle></svg
          > Llegar a la fiesta
        </a>
      </div>
    </section>
    <section
      class="w-full min-h-screen flex flex-col items-center gap-80 relative font-noto px-10" 
    >
      <img
        class="object-cover w-full h-full absolute -z-10 inset-0 aspect-video"
        src="Imagen-fondo2.webp"
        alt="imagen belu & rodri2"
      />
      <div class="mt-10 flex flex-col gap-6 max-w-[500px] text-center">
        <svg
          class="text-white self-center"
          xmlns="http://www.w3.org/2000/svg"
          width="100"
          height="100"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-gift"
          ><rect x="3" y="8" width="18" height="4" rx="1"></rect><path
            d="M12 8v13"></path><path
            d="M19 12v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7"></path><path
            d="M7.5 8a2.5 2.5 0 0 1 0-5A4.8 8 0 0 1 12 8a4.8 8 0 0 1 4.5-5 2.5 2.5 0 0 1 0 5"
          ></path></svg
        >
        <p class="text-white text-2xl">Regalos</p>
        <p class="text-white">
          El regalo es opcional, nos importa tu presencia, pero si deseas
          hacernos un presente te dejamos opciones de transferencia, el cual destinaremos para nuestra luna de miel ❤️🌙.
        </p>
      </div>
      <div
        class="bg-white/30 rounded-xl p-10 flex flex-col gap-6 items-center backdrop-blur-sm"
      >
      </div>
    </section>
    <section
      id="formulario"
      class="w-full min-h-screen flex flex-col items-center gap-80 relative font-noto bg-[#91ae5e] py-10 text-white px-10"
    >
      <div>
        <div class="flex flex-col gap-5 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100"
            height="100"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-badge-check"
            ><path
              d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"
            ></path><path d="m9 12 2 2 4-4"></path></svg
          >
          <p class="text-2xl">Confirmar Asistencia</p>
          <p>
            Por favor completá el formulario con tus datos y comentarios para
            organizar la mejor fiesta
          </p>
        </div>
        <form
          class="flex flex-col w-full gap-4 mt-5 text-black items-center"
          action={"/" + actions.formulario}
          method="POST"
        >
          <input
            class="py-3 px-5 w-full"
            type="text"
            placeholder="Nombre y apellido"
            name="nombre_y_apellido"
            transition:persist
          />

          <p
            id="nombre-error"
            class="text-red-700 text-xs self-start font-bold hidden"
          >
            *El campo de nombre y apellido es requerido
          </p>

          <input
            class="py-3 px-5 w-full"
            type="text"
            placeholder="Email"
            name="email"
            transition:persist
          />

          <p id="email-error" class="text-red-700 text-xs self-start font-bold hidden">
            *El campo de email es requerido
          </p>

          <label class="text-white self-start" for="menu"
            >Opciones de menú</label
          >
          <select
            class="text-black py-3 px-5 w-full"
            name="menu"
            id="menu"
            transition:persist
          >
            <option selected disabled value="">Seleccionar Menú</option>
            <option value="menu-principal">Menú Principal</option>
            <option value="menu-vegetariano">Menú Vegetariano</option>
            <option value="menu-vegano">Menú Vegano</option>
            <option value="menu-celiaco">Menú Celíaco</option>
          </select>

          <p
            id="menu-error"
            class="text-red-700 text-xs self-start font-bold hidden"
          >
            *Debes seleccionar un menú
          </p>

          <textarea
            class="text-black py-3 px-5 resize-none w-full"
            rows="6"
            placeholder="Comentanos alguna situacion particular, ya sea alergias o algo mas, que nos ayude a hacer de esta la mejor fiesta, o simplemente si queres dejanos un saludos 😁"
            name="comentarios_y_saludos"
            transition:persist></textarea>
          <button
            class="bg-[#677450] text-white px-6 py-2 rounded-lg hover:bg-[#afc18f] transition-colors ease-in-out duration-200"
            type="submit">Enviar</button
          >
        </form>
      </div>
    </section>
  </main>
</Layout>

<script>
  import { actions, isInputError } from "astro:actions";
	import Swal from "sweetalert2";

  const dias = document.getElementById("dias") as HTMLSpanElement;
  const horas = document.getElementById("horas") as HTMLSpanElement;
  const minutos = document.getElementById("minutos") as HTMLSpanElement;
  const segundos = document.getElementById("segundos") as HTMLSpanElement;
  const form = document.querySelector("form") as HTMLFormElement;
  const menu_error = document.getElementById(
    "menu-error"
  ) as HTMLParagraphElement;
  const nombre_error = document.getElementById(
    "nombre-error"
  ) as HTMLParagraphElement;
  const email_error = document.getElementById(
    "email-error"
  ) as HTMLParagraphElement;

  const weddingDate = new Date("2025-03-02T22:00:00Z").getTime();
  const updateTime = () => {
    const now = new Date().getTime();
    const dif = weddingDate - now;
    const days = Math.floor(dif / (1000 * 60 * 60 * 24));
    const hours = Math.floor((dif % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((dif % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((dif % (1000 * 60)) / 1000);

    dias.innerText = days.toString().padStart(2, "0");
    horas.innerText = hours.toString().padStart(2, "0");
    minutos.innerText = minutes.toString().padStart(2, "0");
    segundos.innerText = seconds.toString().padStart(2, "0");
  };

  setInterval(updateTime, 1000);

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const { error } = await actions.formulario(formData);
    if (isInputError(error)) {
			Swal.fire({
				text: "Por favor, revisa los campos que faltan",
				icon: "error",
				toast: true,
				timer: 3000,
				position: "bottom-right",
				showConfirmButton: false,
				background: "#ffe7e7",
				color: "red"
				
			});
      if (error.fields.menu) {
        menu_error.classList.remove("hidden");
      }	else {
				menu_error.classList.add("hidden");
			}
      if (error.fields.nombre_y_apellido) {
        nombre_error.classList.remove("hidden");
      } else {
				nombre_error.classList.add("hidden");
			}
      if (error.fields.email) {
        email_error.classList.remove("hidden");
      } else {
				email_error.classList.add("hidden");
			}
    } else {
			email_error.classList.add("hidden");
			nombre_error.classList.add("hidden");
			menu_error.classList.add("hidden");
			Swal.fire({
				text: "¡Gracias por tu asistencia!",
				icon: "success",
				toast: true,
				timer: 3000,
				position: "bottom-right",
				showConfirmButton: false,
				background: "#e7ffe7",
				color: "green"
			});
			form.reset();
		}
  });
</script>
